<div>
  <div>
    Favorite word: <input #new_word type="text" (keyup)="updateFaveWord($event, new_word.value)">
    {{favoriteWord}} 
  </div>
  <div>
    Favorite color:
    <input type="radio" name="fc" value="Red" >Red</input>
    <input type="radio" name="fc" value="Green" >Green</input>
    <input type="radio" name="fc" value="Yellow" >Yellow</input>
    <input type="radio" name="fc" value="Blue" >Blue</input>
    {{favoriteColor}}
  </div>
  <div>
    Favorite shape:
    <select >
      <option value="Circle">Circle</option>
      <option value="Triangle">Triangle</option>
      <option value="Square">Square</option>
    </select>
    {{favoriteShape}}
  </div>
</div>